<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.sys.i18n' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.sys.i18n' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.sys.i18n.list' | translate}}
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-xs btn-link panel-refresh" ed-reload
                       reload-fun="reload()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <!--右键菜单开始-->
                <div id="context-menu">
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:;"
                               model-array="selectI18ns" ed-delete-all
                               click-fun="remove(i18n)" success-fun="reload()" ng-hide="selectI18ns.length == 0">
                                <i class="fa fa-trash-o"></i>
                                {{'label.common.op.delete' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/sys/i18n/edit/{{i18n.i18nId}}"
                               ng-hide="selectI18ns.length != 1">
                                <i class="fa fa-edit"></i>
                                {{'label.common.op.edit' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!--右键菜单结束-->
                <!--工具栏开始-->
                <div class="table-tools">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a class="btn btn-blue" href="#/sys/i18n/add" ed-tooltip
                               data-original-title="{{'label.sys.i18n.add' | translate}}">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-pink" type="button" href="javascript:;" ed-tooltip
                               data-original-title="{{'label.common.op.delete' | translate}}"
                               model-array="selectI18ns" ed-delete-all
                               click-fun="remove(model)" success-fun="reload()" ng-hide="selectI18ns.length == 0">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            <a class="btn btn-green" href="#/sys/i18n/edit/{{i18n.i18nId}}" ed-tooltip
                               data-original-title="{{'label.common.op.edit' | translate}}" ng-hide="selectI18ns.length != 1">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-purple" type="button" href="javascript:;" ed-tooltip
                               data-original-title="{{'label.sys.i18n.savetojson' | translate}}"
                               ng-click="saveToJson()" ng-show="pagination.totalRecords > 0">
                                <i class="fa fa-archive"></i>
                            </a>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div ed-simple-page page-size="10"
                                 pagination="pagination" query-param="queryParam" query-url="sys/i18n/pagination"
                                 share-key="RoleList" block-el=".panel-body">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="{{'query.sys.i18n.simple.i18nkey' | translate}}"
                                       ng-model="queryParam.i18nKey_cn" ng-keydown="enterQueryValue($event)">
                            </div>
                        </div>

                    </div>
                </div>
            <!--工具栏结束-->
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr i18n="row">
                        <th class="width20">
                            <input type="checkbox" ed-check-all/>
                        </th>
                        <th translate>
                            label.sys.i18n.key
                        </th>
                        <th translate>
                            label.common.lang.English
                        </th>
                        <th translate>
                            label.common.lang.zh_CN
                        </th>
                        <th translate>
                            label.common.lang.zh_TW
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i18n in pagination.records" data-toggle="context"
                        data-target="#context-menu">
                        <td>
                            <input name="pk" type="checkbox" ng-model="i18n"
                                   model-array="selectI18ns" ed-checkbox/>
                        </td>
                        <td>{{i18n.i18nKey}}</td>
                        <td>{{i18n.i18nValueEn}}</td>
                        <td>{{i18n.i18nValueZhCn}}</td>
                        <td>{{i18n.i18nValueZhTw}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>