<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.sys.menu' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/sys/menu/list">{{'title.sys.menu' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.sys.menu.add' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.sys.menu.info' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-body">
                        <div class="form-group"
                             ng-class="{'has-error': form.menuName.$dirty && form.menuName.$invalid}">
                            <label for="menuName" class="col-md-2 control-label">{{'label.sys.menu.name' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="menuName" name="menuName"
                                       ng-model="menu.menuName" ed-focus required ng-maxlength="32">
                                <span class='help-block'
                                      ng-show="form.menuName.$error.required && form.menuName.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.menuName.$error.maxlength && form.menuName.$focused">{{'help.common.maxlength32' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.menuPath.$dirty && form.menuPath.$invalid}">
                            <label for="menuPath" class="col-md-2 control-label">{{'label.sys.route.url' | translate}}</label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="menuPath" id="menuPath"
                                       ng-model="menu.menuPath" ng-pattern="/^(/:?[\d\w_]+)+$/" ed-focus
                                       ng-maxlength="128">
                                <span class='help-block'
                                      ng-show="form.menuPath.$focused">{{'help.sys.route.url' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.menuPath.$error.pattern && form.menuPath.$focused">{{'help.sys.route.url.pattern' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.menuPath.$error.maxlength && form.menuPath.$focused">{{'help.common.maxlength128' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.sorted.$dirty && form.sorted.$invalid}">
                            <label for="sorted" class="col-md-2 control-label">{{'label.sys.menu.sorted' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sorted" id="sorted"
                                       ng-model="menu.sorted" ed-integer ed-focus
                                       required min="0" max="9999">
                                <span class='help-block'
                                      ng-show="form.sorted.$error.required && form.sorted.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.sorted.$error.integer && form.sorted.$focused">{{'help.common.int' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.sorted.$error.min && form.sorted.$focused">{{'help.sys.menu.sorted.min' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.sorted.$error.max && form.sorted.$focused">{{'help.sys.menu.sorted.max' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.icon.$dirty && form.icon.$invalid}">
                            <label for="icon" class="col-md-2 control-label">{{'label.sys.menu.icon' | translate}}
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="icon" id="icon"
                                       ng-model="menu.icon" ed-focus
                                       ng-maxlength="32">
                                <span class='help-block'
                                      ng-show="form.icon.$error.required && form.icon.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.icon.$error.maxlength && form.icon.$focused">{{'help.common.maxlength32' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info"
                                    type="button"
                                    ng-disabled="form.$invalid || isUnchanged() || clickToken"
                                    ng-click="save()">
                                <i class="fa fa-check"></i>
                                {{'label.common.op.save' | translate}}
                            </button>
                            &nbsp;
                            <a class="btn btn-default" type="button"
                               href="#/sys/menu/list">
                                <i class="fa fa-undo"></i>
                                {{'label.common.op.cancel' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>