<div class="page-title" ed-page-title>
    <h4>
        <span>{{'title.sys.menu' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.sys.menu' | translate}}</a>
    </nav>
</div>

<!--工具栏-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-blue" href="#/sys/menu/add" ed-tooltip
                   data-original-title="{{'label.sys.menu.add' | translate}}">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--.工具栏-->

<div class="row">
    <div class="col-md-12" ng-repeat="menu in menus">
        <div class="panel panel-default">
            <header class="panel-heading"><label translate>{{menu.menuName}}</label>
                <div class="pull-right">
                    <a class="btn btn-xs btn-link" href="#/sys/menu/addChild/{{menu.menuId}}">
                        {{'label.sys.menu.addchild' | translate}}
                    </a>
                    <a class="btn btn-xs btn-link" href="#/sys/permission/add/{{child1.menuId}}">
                        {{'label.sys.permission.add' | translate}}
                    </a>
                    <a class="btn btn-xs btn-link" type="button" ed-delete
                       click-fun="remove(menu)" success-fun="reload()">
                        {{'label.common.op.del' | translate}}
                    </a>
                    <a class="btn btn-xs btn-link" href="#/sys/menu/edit/{{menu.menuId}}">
                        {{'label.common.op.edit' | translate}}
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <div class="row query">
                    <div class="col-md-12">
                        <form role="form" class="form-horizontal mrg15B" ng-repeat="child1 in menu.children">
                            <div class="title" translate>
                                {{child1.menuName}}
                            </div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="pull-right col-md-4 col-sm-12">
                                        <a class="btn btn-link btn-xs pull-right" href="#/sys/permission/add/{{child1.menuId}}">
                                            {{'label.sys.permission.add' | translate}}
                                        </a>
                                        <a class="btn btn-link btn-xs pull-right" type="button" ed-delete
                                           click-fun="remove(child1)" success-fun="reload()">
                                            {{'label.common.op.del' | translate}}
                                        </a>
                                        <a class="btn btn-link btn-xs pull-right" href="#/sys/menu/edit/{{child1.menuId}}">
                                            {{'label.common.op.edit' | translate}}
                                        </a>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6" ng-repeat="child2 in child1.children">
                                        <label translate>{{child2.menuName}}</label>
                                        <div class="btn-group btn-group-xs">
                                            <a class="btn btn-xs btn-link" type="button" ed-delete
                                               click-fun="remove(child2)" success-fun="reload()">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            <a class="btn btn-xs btn-link" href="#/sys/permission/edit/{{child2.menuId}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
