<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.sys.role' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/sys/role/list">{{'title.sys.role' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'label.sys.role.permission' | translate}}</a>
    </nav>
</div>

<!--1-->

<div class="row">
    <a class="btn btn-blue"
       ng-click="saveResourcePermission()"
       ng-disabled="selectResources.length == 0"
       ng-hide="clickToken">
        <i class="fa fa-check"></i>
        {{'label.sys.role.permission' | translate}}
    </a>
<div class="col-md-12" ng-repeat="menu in menus">
<div class="panel panel-default">
<div class="panel-body">
    <!--查询-->
    <div class="row query">
        <div class="col-md-12">
            <form role="form" class="form-horizontal">
                <div class="title" translate>{{menu.menuName}}
                </div>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="res in menu.sysResources">
                            <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ed-icheck model-array="selectResources" ng-model="res">
                                        {{res.resourceName}}
                                    </label>
                                </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
    <!--.查询-->
</div>
</div>
</div>
</div>
<!--.1-->

