<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.sys.dict' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/sys/dict/list">{{'title.sys.dict' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'label.sys.dict.add' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.sys.dict.info' | translate}}</header>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-body">
                        <div class="form-group"
                             ng-class="{'has-error': form.dictName.$dirty && form.dictName.$invalid}">
                            <label for="dictName" class="col-md-3 control-label">{{'label.sys.dict.name' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="dictName" name="dictName"
                                       ng-model="dict.dictName" ed-focus required ng-maxlength=32>
                                <span class='help-block'
                                      ng-show="form.dictName.$error.required && form.dictName.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.dictName.$error.maxlength && form.dictName.$focused">{{'help.common.maxlength32' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.dictCode.$dirty && form.dictCode.$invalid}">
                            <label for="dictCode" class="col-md-3 control-label">{{'label.sys.dict.code' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text"
                                       class="form-control"
                                       name="dictCode"
                                       id="dictCode"
                                       ng-model="dict.dictCode"
                                       ed-focus
                                       required
                                       ng-pattern="/^[0-9a-zA-Z_]+$/"
                                       ng-maxlength="32"
                                       ed-ensure-unique="sys/dict/check/dictCode">
                                <span class='help-block'
                                      ng-show="form.dictCode.$error.required && form.dictCode.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.dictCode.$error.pattern && form.dictCode.$focused">{{'help.sys.dict.code.pattern' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.dictCode.$error.unique && form.dictCode.$focused">{{'help.sys.dict.code.unique' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.dictCode.$error.maxlength && form.dictCode.$focused">{{'help.common.maxlength32' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-blue"
                                    type="button"
                                    ng-disabled="form.$invalid || isUnchanged() || clickToken"
                                    ng-click="save()">
                                <i class="fa fa-check"></i>
                                {{'label.common.op.save' | translate}}
                            </button>
                            <label class="blank5 pull-right"></label>
                            <a class="btn btn-default" type="button"
                               href="#/sys/dict/list">
                                <i class="fa fa-undo"></i>
                                {{'label.common.op.cancel' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>