<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.order.commodity' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/order/commodity/list">{{'title.order.commodity' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.order.commodity.edit' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.order.commodity.info' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-body">
                        <div class="form-group"
                             ng-class="{'has-error': form.commodityName.$dirty && form.commodityName.$invalid}">
                            <label for="commodityName" class="col-md-3 control-label">{{'label.order.commodity.commodityName' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="commodityName" name="commodityName"
                                       ng-model="commodity.commodityName" ed-focus required ng-maxlength="64" >
                                <span class='help-block'
                                      ng-show="form.commodityName.$error.required && form.commodityName.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.commodityName.$error.maxlength && form.commodityName.$focused">{{'help.common.maxlength64' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': form.safeModel.$dirty && form.safeModel.$invalid}">
                            <label class="col-md-3 control-label">{{'label.order.commodity.safeModel' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input class="form-control select2" name="safeModel" ng-model="commodity.safeModel" ed-select2 options="options"
                                       ed-focus required>
                                <span class='help-block'
                                      ng-show="form.safeModel.$error.required && form.safeModel.$focused">{{'help.common.required' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.monthlyFee.$dirty && form.monthlyFee.$invalid}">
                            <label for="monthlyFee" class="col-md-3 control-label">{{'label.order.commodity.monthlyFee' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="monthlyFee" name="monthlyFee"
                                       ng-model="commodity.monthlyFee" ed-focus required ng-maxlength="8" ed-number>
                                <span class='help-block'
                                      ng-show="form.monthlyFee.$error.required && form.monthlyFee.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.monthlyFee.$error.number && form.monthlyFee.$focused">{{'help.common.number' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.monthlyFee.$error.maxlength && form.monthlyFee.$focused">{{'help.common.maxlength8' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.escortFee.$dirty && form.escortFee.$invalid}">
                            <label for="escortFee" class="col-md-3 control-label">{{'label.order.commodity.escortFee' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="escortFee" name="escortFee"
                                       ng-model="commodity.escortFee" ed-focus required ng-maxlength="8" ed-number>
                                <span class='help-block'
                                      ng-show="form.escortFee.$error.required && form.escortFee.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.escortFee.$error.number && form.escortFee.$focused">{{'help.common.number' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.escortFee.$error.maxlength && form.escortFee.$focused">{{'help.common.maxlength8' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.monthlyFreeEscort.$dirty && form.monthlyFreeEscort.$invalid}">
                            <label for="monthlyFreeEscort" class="col-md-3 control-label">{{'label.order.commodity.monthlyFreeEscort' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="monthlyFreeEscort" name="monthlyFreeEscort"
                                       ng-model="commodity.monthlyFreeEscort" ed-focus required ng-maxlength="3" ed-positive-integer>
                                <span class='help-block'
                                      ng-show="form.monthlyFreeEscort.$error.required && form.monthlyFreeEscort.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.monthlyFreeEscort.$error.positiveInteger && form.monthlyFreeEscort.$focused">{{'help.common.positiveInteger' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.monthlyFreeEscort.$error.maxlength && form.monthlyFreeEscort.$focused">{{'help.common.maxlength3' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-blue"
                                    type="button"
                                    ng-disabled="form.$invalid || isUnchanged() || clickToken"
                                    ng-click="save()">
                                <i class="fa fa-check"></i>
                                {{'label.common.op.save' | translate}}
                            </button>
                            <label class="blank5 pull-right"></label>
                            <a class="btn btn-default" type="button"
                               href="#/order/commodity/list">
                                <i class="fa fa-undo"></i>
                                {{'label.common.op.cancel' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>