<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-sm-12">
        <!-- start: STYLE SELECTOR BOX -->

        <!-- end: STYLE SELECTOR BOX -->
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#/">主页</a>
            </li>
            <li>
                <a href="#/sys/dict/list">CDM管理</a>
            </li>
            <li class="active">开户</li>
        </ul>
        <div class="page-header">
            <h3>CDM管理
                <small>开户</small>
            </h3>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-sign"></i>
                新开户
            </div>
            <div class="panel-body">
                <form id="form" class="smart-wizard form-horizontal" role="form" action="#">
                    <div class="wizard" id="rootwizard">
                        <div class="form-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="tab" href="#tab1"><span
                                        class="badge">1</span>CDM编号</a></li>
                                <li class=""><a data-toggle="tab" href="#tab2"><span class="badge">2</span>客户</a></li>
                                <li class=""><a data-toggle="tab" href="#tab3"><span class="badge">3</span>店铺</a></li>
                                <li class=""><a data-toggle="tab" href="#tab4"><span class="badge">4</span>CDM</a></li>
                                <li class=""><a data-toggle="tab" href="#tab5"><span class="badge">5</span>账号</a></li>
                                <li class=""><a data-toggle="tab" href="#tab6"><span class="badge">6</span>完成</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane active">
                                    <div class="form-group">
                                        <label for="CDMCode" class="col-md-2 control-label">CDM编号<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="CDMCode" name="CDMCode"
                                                   ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                            <span class='help-block'>只能输入数字</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" class="tab-pane">
                                    <div class="form-group">
                                        <label for="customerCode" class="col-md-2 control-label">客户编号<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="customerCode"
                                                   name="customerCode" ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                            <span class='help-block'>只能输入数字</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="customerName" class="col-md-2 control-label">客户名称<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="customerName"
                                                   name="customerName" ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="linkman" class="col-md-2 control-label">联系人</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="linkman" name="linkman"
                                                   ng-linkman="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-md-2 control-label">手机</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="mobile" name="mobile"
                                                   ng-model="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel" class="col-md-2 control-label">电话</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="tel" name="tel"
                                                   ng-model="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab3" class="tab-pane">
                                    <div class="form-group">
                                        <label for="shopCode" class="col-md-2 control-label">店铺编号<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="shopCode" name="shopCode"
                                                   ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                            <span class='help-block'>只能输入数字</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="shopName" class="col-md-2 control-label">店铺名称<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="shopName" name="shopName"
                                                   ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="linkman" class="col-md-2 control-label">联系人</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="slinkman" name="mobile"
                                                   ng-linkman="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-md-2 control-label">手机</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="smobile" name="mobile"
                                                   ng-model="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel" class="col-md-2 control-label">电话</label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="stel" name="tel"
                                                   ng-model="dict.dictName" ed-focus required>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab4" class="tab-pane">
                                    <div class="form-group">
                                        <label for="CDMCode" class="col-md-2 control-label">CDM编号<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="_CDMCode" name="_CDMCode"
                                                   ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                            <span class='help-block'>只能输入数字</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-md-2 control-label">安装位置<span
                                                class="required">*</span></label>

                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="address" name="address"
                                                   ng-model="dict.dictName" ed-focus required>
                                            <span class='help-block'>{{'help.common.required' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab5" class="tab-pane">

                                </div>
                                <div id="tab6" class="tab-pane">

                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a class="btn default button-previous disabled" href="javascript:;"
                                           style="display: none;">
                                            <i class="m-fa fa-swapleft"></i>
                                            上一步
                                        </a>
                                        <a class="btn blue button-next" href="javascript:;"
                                           style="display: inline-block;">
                                            下一步
                                            <i class="m-fa fa-swapright m-fa fa-white"></i>
                                        </a>
                                        <a class="btn green button-submit" href="javascript:;" style="display: none;">
                                            提交
                                            <i class="m-fa fa-swapright m-fa fa-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>
</div>
<!-- END PAGE CONTENT-->