<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.order.open' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.order.open' | translate}}</a>
    </nav>
</div>

<div class="row" ng-hide="idCardNoDisabled">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="callout callout-info fade in">
                    <h5>UI Demo说明</h5>
                    <p>输入123456表示是已有客户，输入其他数字表示是新入网客户</p>
                    <p>此订单界面只考虑了客户的所有保管箱都是分开收费，开发时需要根据卫安的收费方式做调整</p>
                    <p class="text-purple">项目开发时删除此说明</p>

                </div>
                <form role="form" class="form-horizontal" name="idCardForm" novalidate>
                    <div class="form-body">
                        <div class="form-group"
                             ng-class="{'has-error': idCardForm.idCardNo.$dirty && idCardForm.idCardNo.$invalid}">
                            <label for="idCardNo"
                                   class="col-md-3 control-label">{{'label.customer.idCardNo' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control input-sm" id="idCardNo" name="idCardNo"
                                           ng-model="idCardNo" ed-focus required ng-maxlength="18" ng-disabled="idCardNoDisabled" ng-keydown="enterSubmitValue($event)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-blue" type="button" ng-disabled="idCardForm.$invalid || idCardNoDisabled" ng-click="submitIdCardNo()">
                                            {{'label.common.op.submit' | translate}}
                                            </button>
                                        </span>
                                </div>
                                <span class='help-block'
                                      ng-show="idCardForm.idCardNo.$error.required && idCardForm.idCardNo.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="idCardForm.idCardNo.$error.maxlength && idCardForm.idCardNo.$focused">{{'help.common.maxlength18' | translate}}</span>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="newCustomer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.customer.info' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-body">
                        <div class="form-group"
                             ng-class="{'has-error': form.customerName.$dirty && form.customerName.$invalid}">
                            <label for="customerName" class="col-md-3 control-label">{{'label.customer.customerName' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="customerName" name="customerName"
                                       ng-model="order.customerName" ed-focus required ng-maxlength="64" >
                                <span class='help-block'
                                      ng-show="form.customerName.$error.required && form.customerName.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.customerName.$error.maxlength && form.customerName.$focused">{{'help.common.maxlength64' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.mobileNo.$dirty && form.mobileNo.$invalid}">
                            <label for="mobileNo" class="col-md-3 control-label">{{'label.customer.mobileNo' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="mobileNo" name="mobileNo"
                                       ng-model="order.mobileNo" ed-focus required ng-maxlength="13" ed-positive-integer>
                                <span class='help-block'
                                      ng-show="form.mobileNo.$error.required && form.mobileNo.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.mobileNo.$error.positiveInteger && form.mobileNo.$focused">{{'help.common.positiveInteger' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.mobileNo.$error.maxlength && form.mobileNo.$focused">{{'help.common.maxlength8' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': form.address.$dirty && form.address.$invalid}">
                            <label for="address" class="col-md-3 control-label">{{'label.customer.address' | translate}}<span
                                    class="symbol required"></span>
                            </label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" id="address" name="address"
                                       ng-model="order.address" ed-focus required ng-maxlength="128">
                                <span class='help-block'
                                      ng-show="form.address.$error.required && form.address.$focused">{{'help.common.required' | translate}}</span>
                                <span class='help-block'
                                      ng-show="form.address.$error.maxlength && form.address.$focused">{{'help.common.maxlength128' | translate}}</span>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="newCustomer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'label.order.shelectCommodity' | translate}}
            </header>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr role="row">
                        <th translate>
                            label.order.commodity.commodityName
                        </th>
                        <th translate>
                            label.order.amount
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="commodity in commodities">
                        <td>{{commodity.commodityName}}</td>
                        <td>
                            <div class="col-md-3 input-group input-group-sm">
                                <input
                                        type="text"
                                        class="input-sm"
                                        value="0"
                                        name="demo0"
                                        data-bts-min="0"
                                        data-bts-max="100"
                                        data-bts-init-val=""
                                        data-bts-step-interval="100"
                                        data-bts-button-down-class="btn btn-violet"
                                        data-bts-button-up-class="btn btn-violet"
                                        ed-touch-spin>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-blue"
                                    type="button"
                                    ng-disabled="form.$invalid || isUnchanged() || clickToken"
                                    ng-click="save()">
                                <i class="fa fa-check"></i>
                                {{'label.common.op.save' | translate}}
                            </button>
                            <label class="blank5 pull-right"></label>
                            <a class="btn btn-default" type="button"
                               ng-click="cancel()">
                                <i class="fa fa-undo"></i>
                                {{'label.common.op.cancel' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="existCustomer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'label.order.shelectCommodity' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal" name="form" novalidate>
                    <div class="form-body">
                        <!--选择商品-->
                        <div class="form-group">

                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                    <tr role="row">
                                        <th translate>
                                            label.order.commodity.commodityName
                                        </th>
                                        <th translate>
                                            label.order.amount
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="commodity in commodities">
                                        <td>{{commodity.commodityName}}</td>
                                        <td>
                                            <div class="col-md-3 input-group input-group-sm">
                                                <input
                                                        type="text"
                                                        class="input-sm"
                                                        value="0"
                                                        name="demo0"
                                                        data-bts-min="0"
                                                        data-bts-max="100"
                                                        data-bts-init-val=""
                                                        data-bts-step-interval="100"
                                                        data-bts-button-down-class="btn btn-violet btn-disabled"
                                                        data-bts-button-up-class="btn btn-violet"
                                                        ed-touch-spin>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!--.选择商品-->
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-blue"
                                    type="button"
                                    ng-disabled="form.$invalid || isUnchanged() || clickToken"
                                    ng-click="save()">
                                <i class="fa fa-check"></i>
                                {{'label.common.op.save' | translate}}
                            </button>
                            <label class="blank5 pull-right"></label>
                            <a class="btn btn-default" type="button"
                               ng-click="cancel()">
                                <i class="fa fa-undo"></i>
                                {{'label.common.op.cancel' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="existCustomer">
    <!--客户资料-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.customer.info' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.customerName' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.customerName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.mobileNo' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.mobileNo}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.address' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.address}}</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--.客户资料-->
</div>


<div class="row" ng-show="existCustomer">
    <!--保管箱列表-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'label.mobilesafe.list' | translate}}
            </header>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr role="row">
                        <th translate>
                            label.mobilesafe.safeNo
                        </th>
                        <th translate>
                            label.mobilesafe.tariff
                        </th>
                        <th translate>
                            label.mobilesafe.purchaseTime
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="safe in mobilesafes">
                        <td>{{safe.safeNo}}</td>
                        <td>
                            {{safe.tariff}}
                        </td>
                        <td>
                            {{2014-06-01}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--.保管箱列表-->
</div>