<div class="main-login col-sm-4 col-sm-offset-4">
    <div class="logo">
    </div>
    <!-- start: LOGIN BOX -->
    <div class="box-login">
        <h3>Guardforce Mobile Safe</h3>
        <p>
            {{'label.login.title' | translate}}
        </p>
        <form id="login-form" class="form-login" action="index.html" name="form" novalidate>
            <fieldset>
                <div class="form-group"
                     ng-class="{'has-error': form.username.$dirty && form.username.$invalid}">
							<span class="input-icon">
								<input id="username" type="text" class="form-control" name="username" placeholder="{{'label.sys.user.username' | translate}}" ng-model="user.username" ng-keydown="enterLogin($event)" required ed-focus-input>
								<i class="fa fa-user"></i> </span>
                     <span class='help-block'
                           ng-show="form.username.$error.required && form.username.$dirty && form.username.$invalid">{{'help.common.required' | translate}}</span>
                </div>
                <div class="form-group form-actions"
                     ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
							<span class="input-icon">
								<input id="password" type="password" class="form-control password" name="password" placeholder="{{'label.sys.user.password' | translate}}" ng-model="user.password" ng-keydown="enterLogin($event)" required>
								<i class="fa fa-lock"></i>
								<a class="forgot" href="#">
                                    {{'label.login.forgot' | translate}}
                                </a> </span>
                     <span class='help-block'
                           ng-show="form.password.$error.required && form.password.$dirty && form.password.$invalid">{{'help.common.required' | translate}}</span>
                </div>
                <div class="form-actions">
                    <button id="loginBtn" type="button" class="btn btn-info pull-right" ng-click="login()" ng-disabled="form.$invalid">
                        {{'Login' | translate}} <i class="fa fa-sign-in"></i>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- end: LOGIN BOX -->


    <!-- start: COPYRIGHT -->
    <div class="copyright">
        2014 &copy; Admin Template.
    </div>
    <!-- end: COPYRIGHT -->
</div>