<ul class="pagination  pull-right mrg25L mrg0T mrg5B" ng-show="(pagination.records.length > 0 || pagination.totalRecords > 0)">
    <li><a href="javascript:;" class="disabled active">{{pagination.page}}/{{pagination.totalPages}}{{'label.common.page' | translate}}</a></li>
    <li class="prev" ng-hide="pagination.page == '1'" ng-click="gotoPage(pagination.page - 1)"><a href="javascript:;">
        <i class="fa fa-angle-left"></i>
    </a></li>
    <li class="next" ng-hide="pagination.page == pagination.totalPages" ng-click="gotoPage(pagination.page + 1)"><a
            href="javascript:;">
        <i class="fa fa-angle-right"></i>
    </a></li>
</ul>

<ul class="pagination pull-right mrg25L mrg0T mrg5B" style="margin-top: 0px; " ng-show="pagination.totalRecords == 0">
    <li><a href="javascript:;" class="disabled active">找到0条结果</a></li>
</ul>
