<div class="page-title" ed-page-title>
    <h4>
        <a href="javascript:;" id="toggle-menu">
            <i class="fa fa-reorder"></i>
        </a>
        <span>{{'title.order.enquiry' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.order.enquiry' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.order.list' | translate}}
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-xs btn-link panel-refresh" ed-reload
                       reload-fun="reload()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <!--右键菜单开始-->
                <div id="context-menu">
                    <ul class="dropdown-menu" role="menu">
                        <li ed-permisson perm="sys:role:**:delete">
                            <a href="javascript:;"
                               model-array="selectOrders" ed-delete-all
                               click-fun="remove(role)" success-fun="reload()" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-trash-o"></i>
                                {{'label.common.op.delete' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/sys/role/edit/{{role.roleId}}"
                               ng-hide="selectOrders.length != 1"
                               ed-permisson perm="sys:role:**:update">
                                <i class="fa fa-edit"></i>
                                {{'label.common.op.edit' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/sys/role/permission/{{role.roleId}}"
                               ng-hide="selectOrders.length != 1" ed-permisson perm="sys:menu:**:read">
                                <i class="fa fa-lock"></i>
                                {{'label.sys.role.permission' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!--右键菜单结束-->
                <!--工具栏开始-->
                <div class="table-tools">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a class="btn btn-blue" href="#/sys/role/add" ed-tooltip
                               data-original-title="{{'label.common.op.enquiry' | translate}}">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="任务分配" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-sitemap"></i>
                            </a>

                            <a class="btn btn-blue" type="button" href="#/order/view/{{order.orderId}}" ed-tooltip
                               data-original-title="出库" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-info"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="出库" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-folder-open-o"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="分配押运员" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-sitemap"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="押运员签收" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-tasks"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="押运" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-truck"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="抵达现场" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-flag-o"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="客户签收" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="使用完毕" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="移交" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-exchange"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="押运员签收" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-tasks"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="押运" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-truck"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="仓管员签收" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-flag-o"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="入库" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-folder-o"></i>
                            </a>
                            <a class="btn btn-primary" type="button" href="javascript:;" ed-tooltip
                               data-original-title="完成" ng-hide="selectOrders.length == 0">
                                <i class="fa fa-lock"></i>
                            </a>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div ed-simple-page page-size="10"
                                 pagination="pagination" query-param="queryParam" query-url="order/pagination"
                                 share-key="RoleList" block-el=".panel-body">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="{{'query.sys.role.simple.rolename' | translate}}"
                                       ng-model="queryParam.roleName_cn" ng-keydown="enterQueryValue($event)">
                            </div>
                        </div>

                    </div>
                </div>
                <!--工具栏结束-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr role="row">
                            <th class="width20">
                                <input type="checkbox" ed-check-all/>
                            </th>
                            <th>
                                {{'label.order.orderNo' | translate}}
                            </th>
                            <th>
                                {{'label.customer.idCardNo' | translate}}
                            </th>
                            <th>
                                {{'label.customer.customerName' | translate}}
                            </th>
                            <th>
                                {{'label.customer.mobileNo' | translate}}
                            </th>
                            <th>
                                {{'label.customer.address' | translate}}
                            </th>
                            <th>
                                {{'label.mobilesafe.safeNo' | translate}}
                            </th>
                            <th>
                                {{'label.order.state' | translate}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in pagination.records" data-toggle="context"
                            data-target="#context-menu">
                            <td>
                                <input name="pk" type="checkbox" ng-model="order"
                                       model-array="selectOrders" ed-checkbox/>
                            </td>
                            <td>{{order.orderNo}}</td>
                            <td>{{order.idCardNo}}</td>
                            <td>{{order.customerName}}</td>
                            <td>{{order.mobileNo}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.safeNo}}</td>
                            <td>{{order.state}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>