<div class="page-title" ed-page-title>
    <h4>
        <span>{{'title.financial.bill' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/financial/bill/list">{{'title.financial.bill' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:;">{{'title.financial.bill.view' | translate}}</a>
    </nav>
</div>

<div class="row">
    <!--客户详情-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.financial.bill.info' | translate}}
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.customerName' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.customerName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.mobileNo' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.mobileNo}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.customer.address' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">{{customer.address}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.financial.bill.month' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">201406</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'label.financial.bill.amount' | translate}}
                            </label>

                            <div class="col-md-5">
                                <p class="form-control-static">150.00</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--.客户详情-->
</div>

<div class="row">
    <!--账单详情-->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.financial.cost.list' | translate}}
            </header>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr role="row">
                        <th>
                            {{'label.mobilesafe.safeNo' | translate}}
                        </th>
                        <th>
                            {{'label.financial.cost.cost' | translate}}
                        </th>
                        <th>
                            {{'label.financial.cost.costTime' | translate}}
                        </th>
                        <th>
                            {{'label.financial.cost.type' | translate}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cost in pagination.records">
                        <td>{{cost.safeNo}}</td>
                        <td>{{cost.cost | number:2}}</td>
                        <td>{{cost.costTime | datetimeformat}}</td>
                        <td>{{cost.type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--.账单详情-->

</div>
