<div class="page-title" ed-page-title>
    <h4>
        <span>{{'title.sys.company' | translate}}</span>
    </h4>
    <nav>
        <span class="fa fa-home"></span>
        <a href="javascript:;">{{'title.common.home' | translate}}</a>
        <span class="fa fa-angle-right"></span>
        <a href="#/sys/company/list">{{'title.sys.company' | translate}}</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">{{'header.sys.company.list' | translate}}
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-xs btn-link" ed-reload
                       reload-fun="reload()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </header>
            <div class="panel-body">
                <!--右键菜单开始-->
                <div id="context-menu">
                    <ul class="dropdown-menu dropdown-arrow-left" role="menu">
                        <li>
                            <a href="javascript:;"
                               model-array="selectCompanies" ed-delete-all
                               click-fun="remove(model)" success-fun="reload()" ng-hide="selectCompanies.length == 0">
                                <i class="fa fa-trash-o"></i>
                                {{'label.common.op.delete' | translate}}
                            </a>
                        </li>

                    </ul>
                </div>
                <!--右键菜单结束-->
                <!--工具栏开始-->
                <div class="table-tools">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a class="btn btn-blue" href="#/sys/company/add" ed-tooltip
                               data-original-title="{{'label.sys.company.add' | translate}}">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-pink" type="button" href="javascript:;" ed-tooltip
                               data-original-title="{{'label.common.op.delete' | translate}}"
                               model-array="selectCompanies" ed-delete-all
                               click-fun="remove(model)" success-fun="reload()" ng-hide="selectCompanies.length == 0">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>

                        <div class="col-md-8 col-sm-12">
                            <div ed-simple-page page-size="10"
                                 pagination="pagination" query-param="queryParam" query-url="sys/company/pagination"
                                 share-key="companyList" block-el=".panel-body">
                            </div>

                        </div>
                    </div>
                </div>
                <!--工具栏结束-->
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr role="row">
                        <th class="width20">
                            <input type="checkbox" ed-check-all/>
                        </th>
                        <th>
                            {{'label.sys.company.name' | translate}}
                        </th>
                        <th>
                            {{'label.sys.company.companyCode' | translate}}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="width20">
                    <tr ng-repeat="company in pagination.records" data-toggle="context"
                        data-target="#context-menu">
                        <td>
                            <input name="pk" type="checkbox" ng-model="company"
                                   model-array="selectCompanies" ed-checkbox/>
                        </td>
                        <td>{{company.companyName}}</td>
                        <td>{{company.companyCode}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>